<header class='header'>
  <%= link_to "ファミショップ", new_user_session_path ,class:"second-logo" %>



  <div class='links'>
    <ul class='link-list'>
      <li><%= link_to '新規アイテム登録', new_family_item_path(family_id: current_user.family_id), class: "link-botn" %></li>
      <li><%= link_to '買い物リスト登録', "#", class: "link-botn" %></li>
      <li><%= link_to '買い物履歴', "#", class: "link-botn" %></li>
      <li><%= link_to '家族解除', "#", class: "link-botn" %></li>
    </ul>
  </div>
  ニックネーム：<%= current_user.nickname %>
  家族id：<%= current_user.family.id %>
</header>