<%= render "shared/header" %>
index
  <div class='item-contents'>
    <h2 class='title'>アイテム一覧</h2>

    <ul class='item-lists'>
      <% @items.each do |item| %>
        <li class='list'>
          <div class=item-category>
            <%= item.category_id.category_name %>
          </div>
          <div class=item-name>
            <%= item.item_name %>
          </div>
          <div class=item-price>
            <%= item.price %>
          </div>
          <div class=item-quantity>
            <%= item.unit_quantity %>
          </div>
          <div class=item-shop>
            <%= item.shop_id.shop_name %>
          </div>
          <div class=item-remarks>
            <%= item.remarks %>
          </div>

        </li>
      <% end %>
    </ul>
  </div>
