<%= render "shared/header" %>

  <div class="item-contents">
    <div class="title-block">
      <div class="title">商品の情報を入力</div>
    </div>

    <div class='item-card'>
      <div class=item-category>
        カテゴリ
      </div>
      <div class=item-name>
        商品名
      </div>
      <div class=item-price>
        単価
      </div>
      <div class=item-quantity>
        購入数
      </div>
      <div class=item-shop>
        店舗
      </div>
      <div class=item-remarks>
        備考
      </div>
    </div>

    <%= form_with model: @item_shop_category, url:family_items_path , local: true do |f| %>
    <div class="item-card">
      <%= f.text_area :category_name, class:"item-category", id:"item-info" %>
      <%= f.text_area :item_name, class:"item-name", id:"item-name", maxlength:"40" %>
      <%= f.text_area :price, class:"item-price", id:"item-info" %>
      <%= f.text_area :unit_quantity, class:"item-quantity", id:"item-info" %>
      <%= f.text_area :shop_name, class:"item-shop", id:"item-info" %>
      <%= f.text_area :remarks, class:"item-remarks", id:"item-info" %>
    </div>

    <%# 下部ボタン %>
    <div class="sell-btn-block">
      <%= f.submit "新規商品登録する" ,class:"sell-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

</div>